{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <div class="hero">
        <div class="navbar">
            <img src="/static/images/logo.png" alt="" class="logo">
            <a href="about"><button type="button">Know more</button></a>
        </div>
        <div class="content">
            <h2>Welcome to the</h2>
            <h1>Fantasy league Blog site</h1>
            <a href="index"><button type="button">Go to blog</button></a>
        </div>
    </div>
</body>
</html>